/* MAIN LOGO - font-weight: 900 (Solid), 400 (Regular or Brands), 300 (Light) */
.mss-logo {
    letter-spacing: 3px;
    font-weight: 900;
}

.mss-tag-line {
    font-variant-caps: all-small-caps;
}

/* -- create the minty tool tips -- */
.minty-tip {
    border-bottom: solid 2px #eeeeee;
    border-radius: 30px;
    position: relative;
    text-align: center;
    padding: 1rem;
    width: 80%;
    color: #4696e5;
    background-color: rgba(173, 255, 47, 0.1);
    box-shadow: inset 0 0 0 2px #4696e5;
}

/* -- End create the minty tool tips -- */


/* Minty Notifications */
.minty-notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minty-notifications li {
    display: inline-block;
    width: 100px;
    height: 50px;
}

.minty-notifications li:hover {
    text-shadow: 0px 0px 50px greenyellow, 5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #4696e5 !important;
}

.minty-notification-icons {
    position: relative;
    font-size: 1.5em;
    display: inline-block;
    width: 100%;
    height: 0;
}

.minty-notification-icons a:hover {
    text-shadow: 0px 0px 50px greenyellow, 5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

#minty-notice:hover {
    color: #66BB6A;
    text-shadow: 0px 0px 50px #76ff03, 5px 5px 50px #32cb00, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

#minty-info:hover {
    color: rgb(70, 150, 229);
    text-shadow: 0px 0px 50px #0d47a1, 5px 5px 50px #4285f4, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    cursor: pointer;
}

#minty-warn:hover {
    color: #FFEE58;
    text-shadow: 0px 0px 50px #c7cc00, 5px 5px 50px #ffff00, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    cursor: pointer;
}

#minty-critical:hover {
    color: #EF5350;
    text-shadow: 0px 0px 50px #ff3d00, 5px 5px 50px #c30000, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    cursor: pointer;
}

#minty-fatal:hover {
    color: yellow;
    text-shadow: 0px 0px 50px red, 5px 5px 50px red, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    cursor: pointer;
}

/* Align icons for mobile views */
@media screen and (max-width: 980px) {
    .minty-notification-icons > i {
        text-align: center;
        display: inline;
        border: 1px dashed red !important;
    }
}

@media screen and (max-width: 736px) {
    ul.icons.labeled.minty-notification-icons i {
        text-align: center;
        border: 1px dashed blue !important;
    }
}


@media screen and (max-width: 736px) and (orientation: landscape) {

    ul.icons.labeled.minty-notification-icons i {
        text-align: center;
        display: inline;
        border: 1px dashed green !important;
    }
}

@media screen and (max-width: 736px) and (orientation: portrait) {

    ul.icons.labeled {
        text-align: center;
        display: inline;
    }

    ul.icons.labeled.minty-notification-icons i {
        border: 1px dashed yellow !important;
        color: red;
    }

}



/* End Minty Notifications */


/* Project Links Sections */
.minty-projects li {
    display: inline-block;
    width: 100px;
    height: 50px;
}

.minty-projects li:hover {
    text-shadow: 0px 0px 50px greenyellow, 5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #4696e5 !important;
}

.minty-projects li a {
    text-decoration: none;
    width: 50%;
}

.minty-projects li a span {
    padding-top: 10px;
    font-size: 10px;
    width: 50px;
    text-transform: capitalize;
}

/* keep project icons vertical on mobile */
@media screen and (max-width: 736px) and (orientation: portrait) {
    .minty-projects li {
        display: inline-block;
        width: 60px;
        height: 50px;
    }
}

/* End Project links secitons */

/* Contact Dialog */
.contact-dialog-title {
    padding: 5px;
    margin: 10px;
}

dialog {
    padding: 5px;
    box-shadow: inset 0 0 0 2px #e6e6e6;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
}

dialog div {
    padding: 5px;
}

/* End Contact Dialog */

/* Gradient Placeholders */
.minty-gradient {
    text-align: center !important;
    vertical-align: middle !important;
    display: none;
    width: 200px !important;
    height: 150px !important;

}

.minty-font-logo {
    color: white;
    font-size: 7em !important;
    display: inline-block !important;
}


@media screen and (max-width: 736px) and (orientation: portrait) {
    .minty-font-logo {
        font-size: 9em !important;
    }
}

.minty-gradient:hover {
    text-shadow: 0px 0px 100px white,
        15px 15px 50px #4696e5, -3px 0 rgba(173, 255, 47, 0.5), 0 3px rgba(173, 255, 47, 0.5), 3px 0 rgba(173, 255, 47, 0.5), 0 -3px rgba(173, 255, 47, 0.5);
}

.minty-gradient i:hover {
    //   color: rgba(255, 255, 255, .5) !important;
}

#minty-gradient-views {
    /*background: linear-gradient(45deg, rgb(70, 150, 229), transparent),
        repeating-linear-gradient(45deg, rgb(173, 255, 47) 0%, rgb(70, 150, 229) 5%, transparent 5%, transparent 10%);*/
    background: radial-gradient(rgba(173, 255, 47, 0.5), rgba(70, 150, 229, 0.5));
}

#minty-gradient-alerts {
    background: radial-gradient(rgba(70, 150, 229, 0.5), rgba(173, 255, 47, 0.5));
}

#minty-gradient-rest {
    background-image: linear-gradient(to bottom, rgba(173, 255, 47, 0.5) 0, rgba(70, 150, 229, 0.5) 100%);
}

#minty-gradient-history {
    background: radial-gradient(rgba(173, 255, 47, 0.5), rgba(70, 150, 229, 0.5));
}

#minty-gradient-security {
    background-image: linear-gradient(to bottom, rgba(70, 150, 229, 0.5) 0, rgba(173, 255, 47, 0.5) 130%);
}

#minty-gradient-api {
    background: radial-gradient(rgba(173, 255, 47, 0.5), rgba(70, 150, 229, 0.5));
}

/** End Gradient */


/* Footer icons */

#footer.ul.icons {
    border: 2px dashed red !mportant;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.fa-github:hover,
.fa-github-alt:hover {
    color: black !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5;

}

.fa-steam:hover {
    color: #00adee !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.fa-youtube:hover {
    color: #FF3333 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.fa-linkedin:hover {
    color: #4875B4 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.fa-facebook:hover {
    color: #3B5998 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.fa-reddit:hover {
    color: #ff4301 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* GitHub Ribben */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/* End GitHub Ribben */
