/* MAIN LOGO - font-weight: 900 (Solid), 400 (Regular or Brands), 300 (Light) */
.mss-logo {
    letter-spacing: 3px;
    font-weight: 900;
}

#construction {
    color: red;
}

/* -- create the minty tool tips -- */
.spotlight p {
    text-rendering: optimizeLegibility;
}

.minty-tip {
    border-bottom: solid 2px #eeeeee;
    border-radius: 30px;
    position: relative;
    text-align: center;
    padding: 1rem;
    width: 80%;
    color: #4696e5;
    background-color: rgba(173, 255, 47, 0.1);
    box-shadow: inset 0 0 0 2px #4696e5;

}

.minty-projects {}

.minty-projects li {
    display: inline-block;
    width: 100px;
    height: 50px;

}

.minty-projects li:hover {
    text-shadow: 0px 0px 50px greenyellow, 5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #4696e5 !important;
}

.minty-projects li a {
    text-decoration: none;
    width: 50%;
}

.minty-projects li a span {
    padding-top: 10px;
    font-size: 10px;
    width: 50px;
    text-transform: capitalize;
}



/*
<li><a href="https://github.com/MintyMods/MintySensorServer" class="icon solid fal fa-server"><span class="label">Minty Sensor Server</span></a></li>
*/


.contact-dialog-title {
    padding: 5px;
    margin: 10px;
}

.minty-gradient {
    background: url(#minty-gradient) #447799;
}

dialog {
    padding: 5px;
    box-shadow: inset 0 0 0 2px #e6e6e6;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
}

dialog div {
    padding: 5px;

}

.template {}

.notification-test {
    border: 1px red;
}

/*
.minty-tip:before {
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
}

.minty-tip:before {
    content: "\f05a";
}

*/

.minty-mss-text {
    color: chartreuse;
    font-weight: normal;
}


/* Footer icons */
.fa-github:hover {
    color: black !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5;

}

.fa-steam:hover {
    color: #00adee !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5;
}

.fa-youtube:hover {
    color: #FF3333 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-linkedin:hover {
    color: #4875B4 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-facebook:hover {
    color: #3B5998 !important;
    text-shadow: 0px 0px 50px greenyellow,
        5px 5px 50px #4696e5, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* GitHub Ribben */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/* End GitHub Ribben */
